<?xml version="1.0" encoding="UTF-8"?>  
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">  
  <display-name>testMVNSpring</display-name>  
  <welcome-file-list>  
    <welcome-file>index.html</welcome-file>  
    <welcome-file>index.htm</welcome-file>  
    <welcome-file>index.jsp</welcome-file>  
    <welcome-file>default.html</welcome-file>  
    <welcome-file>default.htm</welcome-file>  
    <welcome-file>default.jsp</welcome-file>  
  </welcome-file-list>  
  <!-- 配置struts2核心過濾器 -->  
  <filter>  
    <filter-name>struts2</filter-name>  
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>  
  </filter>  
  <filter-mapping>  
    <filter-name>struts2</filter-name>  
    <url-pattern>/*</url-pattern>  
  </filter-mapping>  
   <!-- 告訴spring容器spring配置文件的位置 -->  
  <context-param>  
    <param-name>contextConfigLocation</param-name>  
    <param-value>/WEB-INF/applicationContext.xml</param-value>  
  </context-param>  
  <!-- 配置監聽 -->  
  <listener>  
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>  
  </listener>
  <!-- tiles的配置 -->  
  <listener>
      <listener-class>org.apache.struts2.tiles.StrutsTilesListener</listener-class>
  </listener>
  <context-param>
	  <param-name>org.apache.tiles.context.AbstractTilesApplicationContextFactory</param-name>
	  <param-value>
	      org.apache.tiles.servlet.context.wildcard.WildcardServletTilesApplicationContextFactory
	  </param-value>
  </context-param>
  <context-param>
	  <param-name>org.apache.tiles.impl.BasicTilesContainer.DEFINITIONS_CONFIG</param-name>
	  <param-value><!-- 多個tiles文件以逗號隔開 -->
	 		 /WEB-INF/tiles.xml,/WEB-INF/tiles/*.xml
	 		 <!-- ,classpath:/modules/**/*tiles.xml -->
	  </param-value>
  </context-param>
  
</web-app>  